.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070; 
  --header-color: #DB00FF;
  --text-color: #F1B2CE;
  --title-decor-color: #000028;
  --decor-color: #FF0070;
  --hover-color: #FF0070;
  --visability: flex;
}
