.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --header-color: #FFC2E6;
  --text-color: #353430;
  --title-decor-color: #353430;
  --decor-color: #353430;
  --hover-color: #32312D;
  --visability: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --header-color: #FFC2E6;
    --text-color: #353430;
    --title-decor-color: #353430;
    --decor-color: #353430;
    --hover-color: #32312D;
    --visability: none;
  }
}
