@media (prefers-color-scheme: light) {
  :root .theme_light  {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #FF0070;
    --button-hover:#353430;
    --main-font: 'IBM Plex mono';
    --text-color: #353430;
    --title-color: #FFC2E6;
    --header-color: #353430;
    --header-text-color: #353430;
    --decor-color: #FF8DCB;
    --display: none;
  }
}
