:root  {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --button-hover:#FF007066;
  --main-font: 'IBM Plex mono';
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --header-color: #FF0070;
  --header-text-color: #000028;
  --decor-color: #FF0070;
  --display: flex;
}
