/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* Переменные тёмной темы */
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono', Courier, monospace;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --content-title-color: #ff0070;
  --shadow-color: #ff0070;
  --line-color: rgba(255 0 112 / 0.4);
  --page-font-size: 18px;
  --small-padding: 10px;
  --large-padding: 20px;
  --main-line-size: 1.3;
  --title-font-weight: 700;
  --main-font-weight: 400;
}
